#root {
  max-width: 920px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
  border: 1px solid #3f3f46;
  border-radius: 12px;
}

.read-the-docs {
  color: #888;
}
